@media  screen and (max-width: 1230px) {
    .main-section {
        display: grid;
        grid:
        "header header header"
        "nav-bar nav-bar nav-bar"
        "main main aside"
        "footer footer footer";
        grid-template-rows: 50px minmax(50px, 1fr) auto-fit minmax(50px, 1fr);
        grid-template-columns: repeat(2, 1fr) 250px;
        gap: 10px 10px;
    }
}
@media  screen and (max-width: 964px) {
    .main-section {
        display: grid;
        grid:
        "header header"
        "nav-bar nav-bar"
        "main main"
        "aside aside"
        "footer footer";
        grid-template-rows: 50px auto-fill 100vh auto-fit 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
    }
    .main-section > .aside .video-youtube {
        float: left;
        margin: 15px 20px;
    }
    .main-section > .aside p {
        text-align: justify;
        padding: 15px 20px;
    }
}