.main-section {
    display: grid;
    grid:
    "header header header" 50px
    "nav-bar main aside" 1fr
    ". main ." auto
    "footer footer footer" auto;
    grid-template-columns: 250px minmax(700px, 1fr) 250px;
    gap: 10px 10px;

    background: #ddd url(../images/bg-white-atlas.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


@media  screen and (max-width: 1230px) {
    .main-section {
        display: grid;
        grid:
        "header header" 50px
        "nav-bar nav-bar" auto
        "main aside" 1fr
        "footer footer" auto;
        grid-template-columns: 1fr 250px;
        gap: 10px 10px;
    }
}
@media  screen and (max-width: 900px) {
    .main-section {
        display: grid;
        grid:
        "header"
        "nav-bar"
        "main"
        "aside"
        "footer";
        grid-template-rows: 50px auto auto auto 1fr;
        grid-template-columns: 100vw;
        gap: 10px 10px;
    }
    .main-section > .aside section {
        display: flex;
        flex-flow: row wrap;
    }
}


