.main-section > .nav-bar div {
    background-color: rgba(255, 242, 255, 0.548);  
    border: solid #ffe7c9 2px;  
    border-radius: 0px 0px 15px 15px;
}

.main-section > .nav-bar ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.main-section > .nav-bar li {
    margin: 25px;
}

.main-section > .nav-bar li a {
    padding: 10px;
    background-color: #a52a2a;
    border-radius: 10px;
}

@media screen and (min-width: 1440px) {
    .main-section > .nav-bar ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media  screen and (max-width: 1230px) {
    .main-section > .nav-bar {
        margin: 0px 10px;
    }
    .main-section > .nav-bar ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media  screen and (max-width: 767px) {
    .main-section > .nav-bar {
        display: none;
    }
}