.main-section {
    display: grid;
    grid:
    "header header header" 50px
    "nav-bar main aside" 1fr
    ". main ." 100vh
    "footer footer footer"
    /400px 1fr 200px;
    gap: 10px 10px;
    background: #ffe7c9 url(../images/bg-titan-atlas.jpg) no-repeat center;
    background-size: cover;
}
.main-section > .header {
    background-color: #fbfbfb6b;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.main-section > .nav-bar {
    grid-area: nav-bar;
}
.main-section > .main {
    background-color: #ee82ee36;
    grid-area: main;
}
.main-section > .main img {
    width: 350px;
    height: 350px;
}
.main-section > .aside {
    background-color: #00ffff2e;
    grid-area: aside;
}
.main-section > .footer {
    background-color: #ffe4c486;
    grid-area: footer;
}